* {
	box-sizing: border-box;
	text-decoration: none;
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: 'Inter', sans-serif;
}

body {
	background-color: black;
}

.center-card {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.card {
	height: 611px;
	width: 384px;
	background-color: #1f1f1f;
	padding: 40px;
	border-radius: 12px;
}

.card-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

img {
	height: 88px;
	width: 88px;
	border-radius: 999px;
}

h1 {
	color: white;
	font-size: 24px;
	font-weight: 600;
	margin-top: 24px;
	margin-bottom: 12px;
}

h3 {
	color: #c4f82a;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 24px;
}

h2 {
	font-size: 14px;
	color: white;
	font-weight: 400;
	margin-bottom: 24px;
}

.social-links {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	gap: 16px;
}

li {
	background: #333333;
	border-radius: 8px;
	width: 304px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

li:hover {
	background-color: #c4f82a;
	cursor: pointer;
	color: black;
}

a {
	color: inherit;
	font-weight: bold;
	font-size: 14px;
}
